<div class="w3-row">
<div class="w3-col w3-card-4" style="width:39%">
<div class="w3-container w3-theme">
	<h3>Add Employee Information</h3>
</div>


<form class="w3-container w3-theme-l5">

<p>
<label>Employee ID</label>
<input class="w3-input w3-border" name="id" type="text" ng-model="employee.id"></p>

<p>
<label>Employee Name</label>
<input class="w3-input w3-border" name="name" type="text" ng-model="employee.name"></p>

<p>
<label>Designation</label>
<select class="w3-select w3-border" name="designation" id="designation" ng-model="employee.designation">
  <option value="" disabled selected>Choose your option</option>
  <option value="Software Engineer">Software Engineer</option>
  <option value="Asistant Manager">Asistant Manager</option>
  <option value="QA">QA</option>
  <option value="Manager">Manager</option>
  <option value="Architect">Architect</option>
</select>
</p>

<p>
<label>Email Address</label>
<input class="w3-input w3-border" name="email" type="email" id="email" ng-model="employee.email"></p>

<p>
<label>Photo</label>
<input class="w3-input w3-border" name="file" type="file" accept="image/*" file-model="employee.file"></p>

<p class="w3-right">
<input class="w3-btn w3-round-xxlarge w3-theme w3-border" name="btnAdd" type="button" value="Save" ng-click="addEmployee()"></p>

</form>
</div>

<div class="w3-col" style="width:2%">
	&nbsp
</div>

<div class="w3-col w3-card-4" style="width:59%">
	<div class="w3-container w3-theme">
	<h3>Company Employees</h3>
	</div>
	<div class="w3-container w3-theme-l5" style="width:100%;height:465px;overflow-y:scroll">
		<div class="w3-container" ng-repeat="employee in employees">
			&nbsp
			<div class="w3-row w3-container w3-card-4 w3-theme-l4">

				<div class="w3-container w3-col l4" style="text-align:justify;padding-top:8px">
				&nbsp
				<img src="/upload/{{employee.filename}}" alt="abc" style="width: 175px; height: 195px;border-style:solid;border-width:1px" >
				&nbsp
			</div>
				
				<div class="w3-container w3-col l5">
					&nbsp 
					<div class="w3-row"><div class="w3-col l9"><h3 class="w3-large">{{employee.id}}</h3></div></div>
					<div class="w3-row"><div class="w3-col l9"><h3 class="w3-large">{{employee.name}}</h3></div></div>
					<div class="w3-row"><div class="w3-col l9"><h3 class="w3-large">{{employee.designation}}</h3></div></div>
					<div class="w3-row"><div class="w3-col l9"><h3 class="w3-large">{{employee.email}}</h3></div></div>
				</div>	
				&nbsp
				<div class="w3-container w3-col l3">
					<input class="w3-btn w3-round-xxlarge w3-theme w3-border" name="btnRemove" type="button" value="Remove" ng-click="removeEmployee(employee.id)" >
				</div>
		</div>
		</div>
	</div>
</div>

</div>